.purpleText {
    color: purple;
    margin: 15px;
}

#biggerText {
    font-size: 60px;
}

img {
    height: 100px;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

#carouselExampleControls {
    text-align: center;
}